.profile_container {
  width: 320px;
  margin-top: 48px;
  margin-bottom: 48px;
  border: 2px solid black;
  border-radius: 10px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.profile_up {
  margin: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 18px;
}

.profile_img {
  width: 120px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.84);
  margin: 0 auto 18px;
  display: block;
}

.profile_name {
  color: black;
  font-weight: 600;
  font-size: 22px;
  margin: 6px;
}

.profile_tag {
  color: gray;
  font-weight: 400;
  font-size: 18px;
  margin: 6px;
}

.profile_location {
  font-weight: 400;
  font-size: 18px;
  color: gray;
  margin: 0;
}

.profile_states {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  display: flex;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.profile_state {
  flex-basis: calc((100%) / 3);
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 6px;
  color: black;
  border-top: 2px solid gray;
  padding: 6px;
  background-color: rgb(231, 228, 228);
}

.profile_state:nth-child(even) {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.profile_state_title {
  font-weight: 400;
}

.profile_state_property {
  font-weight: 600;
}
